@using Beauty.Admin.Models.Helpher
@{
    var currentUrl = $"{Context.Request.Scheme}://{Context.Request.Host}";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]  Beauty.Admin</title>
    <script src="~/js/jquery-3.6.4.min.js" asp-append-version="true"></script>
    <link rel="shortcut icon" href="~/favicon.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/jquery.dataTables.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Beauty.Admin.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/all.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   </head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img width="120" class="rounded" src="~/beauty.png" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white btn" asp-area="" asp-controller="beauty" asp-action="beautymakeup" style="background-color:#ee4f48;height:44px">
                                <i class="fa fa-paint-brush" aria-hidden="true" style="font-size: 28px; color:white;"></i> <span>Maekup</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <div></div>
                    <div class="profile">
                            <div class="user">
                             <p>@SessionManager.UserName</p>
                            </div>
                            <div class="img-box">
                            <img src="@currentUrl/Content/Image/@SessionManager.Image" alt="some user image">
                            </div>
                        </div>
                    <div class="menu" style="z-index: 99;">
                            <ul>
                                <li><a href="/home/profile"><i class="ph-bold ph-user"></i>Profile</a></li>
                                <li><a href="/home/logout"><i class="ph-bold ph-sign-out"></i>Log Out</a></li>
                            </ul>
                        </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="px-2" style="overflow:hidden">
        <main role="main" class="pb-3">
            <div class="row">
                <div class="col-md-2">
                    <div class="shadow-lg p-1 rounded" style="background-color:#ee4f48;height:min-content">
                        <i class=""></i>
                        <ul class="list-group">
                            <li class="list-group-item" style="background-color:#ee4f48;color:white"><a onclick="Open('beautyclientopen')" href="#"><i class="fas fa-user" style="font-size:28px;color:white"></i>    Clients </a></li>
                            <li class="list-group-item" style="background-color:#ee4f48;color:white"><a onclick="Open('beautyaboutus')" href="#"><i class="fa fa-info-circle" style="font-size:28px;color:white"></i>    About </a></li>
                            <li class="list-group-item" style="background-color:#ee4f48;color:white"><a onclick="Open('beautyservice')" href="#"><i class="fa fa-wrench" aria-hidden="true" style="font-size:28px;color:white"></i>  Services</a></li>
                            <li class="list-group-item" style="background-color:#ee4f48;color:white"><a onclick="Open('beautynews')" href="#"><i class="fa fa-newspaper-o" style="font-size: 28px; color: white;"></i>  News</a></li>
                            <li class="list-group-item" style="background-color:#ee4f48;color:white"><a onclick="Open('beautycontactus')" href="#"><i class="fa fa-address-book" aria-hidden="true" style="font-size: 28px; color: white;"></i> Contact</a></li>
                            <li class="list-group-item" style="background-color:#ee4f48;color:white"><a onclick="Open('beautyprice')" href="#"><i class="fa fa-money" aria-hidden="true" style="font-size: 28px; color: white;"></i> Price</a></li>
                            <li class="list-group-item" style="background-color:#ee4f48;color:white"><a onclick="Open('beautybrand')" href="#"><i class="fa fa-flag" style="font-size: 28px; color: white;"></i> Brands</a></li>
                            <li class="list-group-item" style="background-color:#ee4f48;color:white"><a onclick="Open('beautybanner')" href="#"><i class="fa fa-picture-o" aria-hidden="true" style="font-size: 28px; color: white;"></i> Banner</a></li>
                            <li class="list-group-item" style="background-color:#ee4f48;color:white"><a onclick="Open('beautyteam')" href="#"><i class="fa fa-group" aria-hidden="true" style="font-size: 28px; color: white;"></i> Team</a></li>
                          </ul>
                    </div>
                </div>
                <div class="col-md-9">
                    @RenderBody()
                </div>
            </div>
        </main>
    </div>
    <div style="padding:30px"></div>
    <footer class="border-top footer text-muted bg-white">
        <div class="container">
            &copy; 2023 - Beauty.Admin - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/js/jquery-3.6.4.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery.dataTables.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        $(document).ready(function () {
            $('.DataTable').DataTable({
                "pageLength": 7,
                "paging": true,
                "lengthChange": false,
            });
        });
        let profile = document.querySelector('.profile');
        let menu = document.querySelector('.menu');
        profile.onclick = function () {
            menu.classList.toggle('active');
        }
        function Open(page) {
            debugger
            window.location.href = "/beauty/"+page;
        }
    </script>
</body>
</html>
