    <div class="preloader-bg"></div>
    <div id="preloader">
        <div id="preloader-status"><div class="preloader-position loader"> <span></span> </div></div>
    </div>
    <div id="betty-page">
        <a href="#" class="js-betty-nav-toggle betty-nav-toggle"><i></i></a>
        <div id="betty-main">
            <div class="betty-services">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8 animate-box" data-animate-effect="fadeInLeft">
                            <div class="mb-30">
                                <img src="~/images/services/1.jpg" class="img-fluid mb-30" alt="">
                                <h3>Body Treatments</h3>
                                <p>Quisque volutpat non nisl id tincidunt. Praesent at eros vitae dui pulvinar ornare. Morbi mollis a enim nec ullamcorper. Proin condimentum ut mauris ut placerat. Donec commodo diam lorem, commodo viverra metus mollis nec. Nam vehicula ipsum faucibus. Praesent at eros vitae dui pulvina the ornare. Morbi mollis a enim nec ullamcorper. Proin condimentum ut mauris ut placerat. Donec commodo diamlorem, commodo viverra metus mollis vehicula ipsum faucibus.</p>
                            </div>      
                                      <div class="row services-price mb-30">
                                <div class="col-md-12">
                                    <div class="services-price-info">
                                        <h5 class="title">Cut and Finish <span class="price">$27,00</span></h5>
                                        <p>Quisque volutpat non nisl id tincidunt. Praesent at eros vitae dui pulvinar ornare.</p>
                                    </div>
                                    <div class="services-price-info">
                                        <h5 class="title">Hair Colouring <span class="price">$35,00</span></h5>
                                        <p>Quisque volutpat non nisl id tincidunt. Praesent at eros vitae dui pulvinar ornare.</p>
                                    </div>
                                    <div class="services-price-info">
                                        <h5 class="title">Wash <span class="price">$12,00</span></h5>
                                        <p>Quisque volutpat non nisl id tincidunt. Praesent at eros vitae dui pulvinar ornare.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-30">
                                <div class="col-md-4 gallery-item">
                                    <a href="images/services/g1.jpg" class="img-zoom">
                                        <div class="gallery-box">
                                            <div class="gallery-img"> <img src="~/images/services/g1.jpg" class="img-fluid mx-auto d-block rounded" alt="work-img"> </div>
                                            <div class="gallery-detail text-center"> <i class="ti-plus"></i> </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-4 gallery-item">
                                    <a href="images/services/g2.jpg" class="img-zoom">
                                        <div class="gallery-box">
                                            <div class="gallery-img"> <img src="~/images/services/g2.jpg" class="img-fluid mx-auto d-block rounded" alt="work-img"> </div>
                                            <div class="gallery-detail text-center"> <i class="ti-plus"></i> </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-4 gallery-item">
                                    <a href="images/services/g3.jpg" class="img-zoom">
                                        <div class="gallery-box">
                                            <div class="gallery-img"> <img src="~/images/services/g3.jpg" class="img-fluid mx-auto d-block rounded" alt="work-img"> </div>
                                            <div class="gallery-detail text-center"> <i class="ti-plus"></i> </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-4 gallery-item">
                                    <a href="images/services/g4.jpg" class="img-zoom">
                                        <div class="gallery-box">
                                            <div class="gallery-img"> <img src="~/images/services/g4.jpg" class="img-fluid mx-auto d-block rounded" alt="work-img"> </div>
                                            <div class="gallery-detail text-center"> <i class="ti-plus"></i> </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-4 gallery-item">
                                    <a href="images/services/g5.jpg" class="img-zoom">
                                        <div class="gallery-box">
                                            <div class="gallery-img"> <img src="~/images/services/g5.jpg" class="img-fluid mx-auto d-block rounded" alt="work-img"> </div>
                                            <div class="gallery-detail text-center"> <i class="ti-plus"></i> </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-4 gallery-item">
                                    <a href="images/services/g6.jpg" class="img-zoom">
                                        <div class="gallery-box">
                                            <div class="gallery-img"> <img src="images/services/g6.jpg" class="img-fluid mx-auto d-block rounded" alt="work-img"> </div>
                                            <div class="gallery-detail text-center"> <i class="ti-plus"></i> </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 animate-box" data-animate-effect="fadeInLeft">
                            <div class="betty-sidebar-part">
                                <div class="betty-sidebar-block betty-sidebar-block-categories">
                                    <div class="betty-sidebar-block-title">Our Services</div>
                                    <div class="betty-sidebar-block-content">
                                        <ul class="ul1">
                                            <li><a href="services-page.html#">Makeup</a></li>
                                            <li><a href="services-page.html#">Hairdressing</a></li>
                                            <li><a href="services-page.html#">Makeup</a></li>
                                            <li><a href="services-page.html#">Barber</a></li>
                                            <li><a href="services-page.html#">Massages</a></li>
                                            <li><a class="active" href="services-page.html#">Body Treatments</a></li>
                                            <li><a href="services-page.html#">Aromatheraphy</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="betty-footer2">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div class="betty-logo">
                                <a href="index.html"><img src="images/logo.png" alt=""></a>
                                <h2 class="text-center">
                                    Betty
                                    <span>Center of Beauty</span>
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-left">
                            <div class="betty-footer">
                                <p>Betty by DuruThemes. All Rights Reserved.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
